<div class="spacer20"></div>
<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-md-10"><h1>{{"forms.available_urgencias" | translate}}</h1></div>
      <div class="col-md-2">
        <button id="crearUrgencia" class="btn btn-primary pull-right" routerLink="/urgencia-form">
          {{"forms.new" | translate}}
        </button>
      </div>
    </div>
  </div>
<h2>hola</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">{{"forms.isbn" | translate}}</th>
        <th scope="col">{{"forms.name" | translate}}</th>
        <th scope="col">{{"forms.inventory" | translate}}</th>
        <th scope="col">{{"forms.eps" | translate}}</th>
        <th scope="col">{{"forms.available" | translate}}</th>
        <th scope="col">{{"forms.esCirugia" | translate}}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let urgencia of urgencias">
        <td>{{ urgencia.idPaciente }}</td>
        <td>{{ urgencia.nombrePersona }}</td>
        <td>{{ urgencia.fechaIngreso }}</td>
        <td>{{ urgencia.eps }}</td>
        <td>{{ cambiar(urgencia.fechaHospitalizacion) }}</td>
        <td>{{ cambiar(urgencia.fechaCirugia) }}</td>
        <td>          
          <button id="botonEliminar" class="btn btn-danger" (click)="confirmDelete(urgencia.idPaciente)">{{"forms.delete" | translate}}</button>
        </td>
        <td>
          <button id="botonFacturar" class="btn btn-success" (click)="confirmFacturar(urgencia.idPaciente)">{{"forms.facturar" | translate}}</button>
        </td> 
        <td>
          <button class="btn btn-success" (click)="operar(urgencia)" [disabled]="urgencia.fechaCirugia">{{"forms.operar" | translate}}</button>
        </td>
        <td>
          <button class="btn btn-success" (click)="hospitalizar(urgencia)" [disabled]="urgencia.fechaHospitalizacion">{{"forms.hospitalizar" | translate}}</button>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
