<div class="spacer20"></div>

<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-md-10">
        <h1>Movie Store</h1>
      </div>
      <div class="col-md-5">
        <button id="crearCliente" class="btn btn-primary pull-right" routerLink="/cliente-form">
          Crear cliente
        </button>
      </div>
      <div class="col-md-2">
        <button id="listarCliente" class="btn btn-primary pull-right" routerLink="/listar-cliente-form">
          Listar clientes
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-5">
        <button id="CrearPelicula" class="btn btn-primary pull-right" routerLink="/pelicula-form">
          Crear pelicula
        </button>
      </div>
      <div class="col-md-2">
        <button id="listarPelicula" class="btn btn-primary pull-right" routerLink="/listar-pelicula-form">
          Listar pelicula
        </button>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-5">
        <button id="CrearOrden" class="btn btn-primary pull-right" routerLink="/orden-form">
          Crear orden
        </button>
      </div>
      <div class="col-md-2">
        <button id="listarOrden" class="btn btn-primary pull-right" routerLink="/listar-orden-form">
          Listar Orden
        </button>
      </div>
    </div>
  </div>
</div>