<div class="spacer20"></div>
<div class = "container">
  <div class="page-header">
    <div class="row">
      <div class="col-md-10"><h1>{{"forms.MovieStore" | translate}}</h1></div>
      <div class="col-md-5">
        <button id="crearCliente" class="btn btn-primary pull-right" routerLink="/cliente-form">
          {{"forms.new" | translate}}
        </button>
      </div>
      <div class="col-md-2">
        <button id="listarCliente" class="btn btn-primary pull-right" routerLink="/listar-form">
          {{"forms.list_cliente" | translate}}
        </button>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-5">
        <button id="CrearPelicula" class="btn btn-primary pull-right" routerLink="/pelicula-form">
          {{"forms.newMovie" | translate}}
        </button>
      </div>
      <div class="col-md-2">
          <button id="listarPelicula" class="btn btn-primary pull-right" routerLink="/listar-pelicula-form">
            {{"forms.list_movie" | translate}}
          </button>
        </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-5">
        <button id="CrearOrden" class="btn btn-primary pull-right" routerLink="/orden-form">
          {{"forms.new_orden" | translate}}
        </button>
      </div>
      <div class="col-md-2">
        <button id="listarOrden" class="btn btn-primary pull-right" routerLink="/listar-orden-form">
          {{"forms.list_orden" | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
