<div class="create-container">
  <h1>
    Crear Orden
  </h1>
  <div class="card">
    <div class="card-body">
      <div class="form">
        <form [formGroup]="myForm">
          <div class="form-group">
            <label>Fecha de orden</label>
            <input id="fechaOrden" type="text" class="form-control" formControlName="fechaOrden" />
            <span *ngIf="controlHasError('fechaOrden', 'required')">
              <strong>*Campo requerido</strong>
            </span>
          </div>
          <div class="form-group">
            <label>Fecha inicial</label>
            <input id="fechaInicio" type="text" class="form-control" formControlName="fechaInicio" />
            <span *ngIf="controlHasError('fechaInicio', 'required')">
              <strong>*Campo requerido</strong>
            </span>
          </div>
          <div class="form-group">
            <label>Fecha final</label>
            <input id="fechaFin" type="text" class="form-control" formControlName="fechaFin" />
            <span *ngIf="controlHasError('fechaFin', 'required')">
              <strong>*Campo requerido</strong>
            </span>
          </div>

          <div class="form-group">
            <label>Cedula</label>
            <input id="cedula" type="text" class="form-control" formControlName="cedula" />
            <span *ngIf="controlHasError('cedula', 'required')">
              <strong>*Campo requerido</strong>
            </span>
          </div>
          <button id="botonCrearOrden" class="btn btn-success" (click)="store()">
            Guardar
          </button>
          <p> </p>
          <button id="botonVolver" class="btn btn-primary" (click)="confirmVolver()">
            Volver
          </button>
        </form>
      </div>
    </div>
  </div>
</div>