<div class="create-container">
  <h1>
    Listar Orden
  </h1>
  <div class="card">
    <div class="card-body">
      <div class="form">
        <form [formGroup]="myForm">
          <div class="form-group">
            <label>identificador</label>
            <input id="cedula" type="text" class="form-control" formControlName="cedula" />
            <span *ngIf="controlHasError('cedula', 'required')">
              <strong>*Campo requerido</strong>
            </span>
          </div>
          <button id="botonListar" class="btn btn-success" (click)="getUrgencias()">
            Listar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">numeroOrden</th>
      <th scope="col">fechaOrden</th>
      <th scope="col">fechaInicio</th>
      <th scope="col">fechaFin</th>
      <th scope="col">valor</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ordenlist of orden">
      <td>{{ ordenlist.numeroOrden }}</td>
      <td>{{ ordenlist.fechaOrden }}</td>
      <td>{{ ordenlist.fechaInicio }}</td>
      <td>{{ ordenlist.fechaFin }}</td>
      <td>{{ ordenlist.valor}}</td>
      <td>
        <button id="botonPrecio" class="btn btn-danger" (click)="getPrecio(ordenlist)">Precio</button>
      </td>
    </tr>
  </tbody>
</table>

<p> </p>
<button id="botonVolver" class="btn btn-primary" (click)="confirmVolver()">
  Volver
</button>